/*INICIO CSS NAV BAR*/

:root {

  /* ========================================================= */
  /* =================== COLOR GLOBAL APP ==================== */
  /* ========================================================= */
  --color-primary: #4CB04C;
  --color-primary-dark: #2E7D2E;
  --color-primary-medium: #3DA63D;
  --color-primary-soft: rgba(76,176,76,0.12);
  --color-primary-hover: rgb(67, 163, 67);
  --color-primary-low: rgb(130, 241, 130);

  /* ========================================================= */
  /* ======================= TIPOGRAFÍA ====================== */
  /* ========================================================= */

  /* tamaños */
  --text-sm: 0.85rem;
  --text-md: 1rem;
  --text-lg: 1.35rem;

  /* pesos */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;

  /* colores por jerarquía */
  --text-sm-color: #9AA19A;
  --text-md-color: #2D2D2D;
  --text-lg-color: #1F2937;

  /* hover de texto */
  --text-hover-dark: #1F2937;
  --text-hover-light: #6B7280;

  /* ========================================================= */
  /* ========================= NEUTROS ======================= */
  /* ========================================================= */
  --color-bg-main: #FFFFFF;
  --color-bg-card: #F4F6F4;
  --color-text-main: #2D2D2D;
  --color-text-muted: #9AA19A;

  /* ========================================================= */
  /* ========================= ESTADOS ======================= */
  /* ========================================================= */
  --color-error: #C04141;
  --color-warning: #D97706;
}

/* CSS INICIO NAVBAR*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 5px;
    background-color: var(--color-bg-main);
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--color-primary-low);
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 10px;
}
button {
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-bg-main);
    border: none;
    margin-left: 90px;
    cursor: pointer;
}
.buttonHeader {
    padding: 20px;
    background-color: var(--color-bg-main);
    margin: 20px;
    width: 150px;
    border: 1px solid;
    border-color: var(--color-primary-low);
    text-align: center;
    cursor: pointer;
    display: flex; 

}
.buttonCerrarSesion {
    padding: 20px;
    background-color: var(--color-bg-main);
    margin: 20px;
    width: 150px;
    border: 1px solid;
    border-color: var(--color-primary-low);
    text-align: center;
    margin-left: 70%;
}

/* CSS NAVBAR FINAL*/