:root {
/* ========================================================= */
  /* =================== COLOR GLOBAL APP ==================== */
  /* ========================================================= */
  --color-primary: #4CB04C;
  --color-primary-dark: #2E7D2E;
  --color-primary-medium: #3DA63D;
  --color-primary-soft: rgba(76,176,76,0.12);
  --color-primary-hover: #43A343;

  /* ========================================================= */
  /* ======================= TIPOGRAFÍA ====================== */
  /* ========================================================= */

  /* tamaños */
  --text-sm: 0.85rem;
  --text-md: 1rem;
  --text-lg: 1.35rem;

  /* pesos */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;

  /* colores por jerarquía */
  --text-sm-color: #9AA19A;
  --text-md-color: #2D2D2D;
  --text-lg-color: #1F2937;
  --color-font-main: #FFFFFF;

  /* hover de texto */
  --text-hover-dark: #1F2937;
  --text-hover-light: #6B7280;

  /* ========================================================= */
  /* ========================= NEUTROS ======================= */
  /* ========================================================= */
  --color-bg-main: #FFFFFF;
  --color-bg-forms: rgb(226, 226, 226);
  --color-bg-card: #F4F6F4;
  --color-text-main: #2D2D2D;
  --color-text-muted: #9AA19A;

  /* ========================================================= */
  /* ========================= ESTADOS ======================= */
  /* ========================================================= */
  --color-error: #C04141;
  --color-warning: #D97706;

}


body{
    background-color:var(--color-bg-forms);
    font-family: Arial, Helvetica, sans-serif;
    
}


.main-content {
    position: absolute;
    top: 30%;
    left: 35%;
    box-sizing: border-box;
}




h1{
    color: var(--color-primary);
    text-align: center;   
}
p{
    font-size: var(--text-md);
    text-align: center;
    font-weight: bold;

}



.container{
    width: 500px;
    height: 200px;
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid black;
}

.volver{
    text-decoration: none ;
    display: flex;
    padding : 20px 205px;
    font-size: 20px;
    outline: black solid 0.5px;
    color: rgb(4, 7, 2);
    border-radius: 5px;
    margin-top: 5%;

}

.volver:hover{
    background-color: rgb(161, 241, 161);
    color: black;
    transition: 0.3;

}
