<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de control general - ADMINISTRADOR</title>
    <link rel="stylesheet" href="/static/css/panel.css">
</head>
<body>
    <!-- {% include 'navbar.html' %} -->

    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS USUARIOS =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    
        <div class="inf-container">
            <h2>Tablas generales del panel de control</h2>

            <div class="inf-listas">
                
                <div class="general-card">
                    <a class="btn btn-secondary btn-lg" href="/templates/panelDependients.html">
                        <button>Panel de Dependientes</button>
                    </a>  
                </div>

                <div class="general-card">
                    <a class="btn btn-secondary btn-lg" href="/templates/panelHistory.html">
                        <button>Panel de Historial</button>
                    </a> 
                </div>

                <div class="general-card">
                    <a class="btn btn-secondary btn-lg" href="/templates/panelMovimients.html">
                        <button>Panel de Movimientos</button>
                    </a>
                </div>

                <div class="general-card">
                    <a class="btn btn-secondary btn-lg" href="/templates/panelUser.html">
                        <button>Panel de Usuario</button>
                    </a>   
                </div>
            </div>

        </div>

    
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS MODULOS FINANCIEROS =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS DEPENDIENTES =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->



    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS HISTORIALES =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <!-- {% include 'footer.html' %} -->
</body>
</html>