<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Ahorrapp!</title>
</head>
<body>
    <header class="header">
        <div class="header-left">
        <h2>
            Ahorrapp
        </h2>
        </div>
        <div class="header-right">
            <a href="/templates/login.html">
                <button class="btn-iniciarsesion">Iniciar sesion.</button>
            </a>
        </div>
    </header>
    <main class="main-content">
        <div class="firstSection">
        <h1 class="h1-mainContent">Controla tus Finanzas Personales.</h1>
        <p class="p-mainContent">Una aplicación completa para gestionar tus ingresos, gastos, ahorros, deudas,<br>
        dependientes y más. Todo en un solo lugar, con un diseño minimalista y herramientas <br> 
        avanzadas de análisis financiero.</p>
        </div>
        <div class="caracteristicasPrincipales">
            <div class="h2-caracteristicasPrincipales"> 
            <h2>Caracteristicas principales.</h2>
            </div>
        <div class="boxes">
            <div class="boxIndex">
                <p>Lorem ipsum dolor sit amet consectetur 
                <br>adipisicing elit. 
                Alias voluptas ex vel a sed
                <br> earum reprehenderit </p>
            </div>
            <div class="boxIndex">
                <p>Lorem ipsum dolor sit amet consectetur <br>
                adipisicing elit. Quo autem totam reprehenderit? 
                <br>Enim nobis consequatur, dolor ea sit id sunt </p>
            </div>
           <div class="boxIndex">
                <p>Lorem ipsum dolor sit amet consectetur <br>
                adipisicing elit. Quo autem totam reprehenderit? 
                <br>Enim nobis consequatur, dolor ea sit id sunt .</p>
            </div>
            <div class="boxIndex">
                <p>Lorem ipsum dolor sit amet consectetur <br>
                adipisicing elit. Quo autem totam reprehenderit? 
                <br>Enim nobis consequatur, dolor ea sit id sunt </p>
            </div>
            <div class="boxIndex">
                <p>Lorem ipsum dolor sit amet consectetur <br>
                adipisicing elit. Quo autem totam reprehenderit? 
                <br>Enim nobis consequatur, dolor ea sit id sunt </p>
            </div>

        </div>    
        </div> 
    </main>
    <footer>
<section class="contactenos">
    <button class="btn-contactenos">
        ola
    </button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium impedit dolorem aperiam? Inventore nemo, sapiente est facilis eveniet iusto repellendus et expedita ea deserunt? Quae vel tempore autem nobis iste!</p>
</section>
        <br>
        <div class="marquillaFooter">
        <h1>&copy; 2026 - Ahorrapp</h1>
        </div>
    </footer>
</body>
</html> 