<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Ahorrapp!</title>
</head>
<body>
    <header class="header">
        <div class="header-left">
        <h2>
            Ahorrapp
        </h2>
        </div>
        <div class="header-right">
            <a href="{{ url_for('login') }}">
                <button class="btn-iniciarsesion">Iniciar sesion.</button>
            </a>
        </div>
    </header>
    <main class="main-content">
        <div class="firstSection">
        <h1 class="h1-mainContent">Controla tus Finanzas Personales.</h1>
        <p class="p-mainContent">Una aplicación completa para gestionar tus ingresos, gastos, ahorros, deudas,<br>
        dependientes y más. Todo en un solo lugar, con un diseño minimalista y herramientas <br> 
        avanzadas de análisis financiero.</p>
        </div>
        <div class="caracteristicasPrincipales">
            <div class="h2-caracteristicasPrincipales"> 
            <h2>Caracteristicas principales.</h2>
            </div>
        <div class="boxes">
            <div class="boxIndex">
                <p>Gestion de ingresos</p>
                <p>Registra y monitorea todos tus ingresos de manera organizada</p>
            </div>
            <div class="boxIndex">
                <p>Gestion de gastos</p>
                <p>Controla tus gastos y evita exceder tu presupuesto</p>
            </div>
           <div class="boxIndex">
                <p>Metas de Ahorro</p>
                <p>Establece objetivos financieros y sigue tu progreso</p>
            </div>
            <div class="boxIndex">
                <p>Fondo de Imprevistos</p>
                <p>Prepárate para gastos inesperados con un fondo de emergencia </p>
            </div>
            <div class="boxIndex">
                <p>Gestion de ingresos</p>
                <p>Registra y monitorea todos tus ingresos de manera organizada </p>
            </div>
        </div>    
        </div>
    <footer class="f9">
    <div class="top">
 
      <!-- Columna izquierda: info de la empresa -->
      <div class="info">
        <div class="brand">Ahorrapp<span>.</span></div>
        <p class="tagline">

        </p>
      </div>
 
      <!-- Columna derecha: formulario de contacto -->
      <div class="form-side">
        <h3>Contactanos Aqui!</h3>
        <p>Respondemos en menos de 24 horas.</p>
 
        <form action="{{ url_for('index') }}" method="POST">
        <div class="form-grid">
            <!-- se agrego el atributo name a cada input para que se puedan recuperar los datos en el backend -->
            <input type="text"  name="nombre" placeholder="Nombre" required>
            <input type="text"  name="empresa" placeholder="Empresa">
            <input type="email" name="email" placeholder="Email" required>
            <input type="text"  name="presupuesto" placeholder="Presupuesto aprox.">
        </div>


        <textarea name="mensaje" class="msg-field" rows="3" placeholder="¿Qué quieres construir?"></textarea>

        <div class="submit-row">
            <span class="privacy">Tus datos están seguros</span>
            <button type="submit" class="submit-btn">Enviar →</button>
        </div>
        </form>


      </div>
 
    </div>
 
    <div class="bottom">
      <span>&copy; Ahorrapp</span>
    </div>
  </footer>
</body>
</html> 