<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Inicia sesión aqui!</title>
</head>
<body>
    {% include 'navbar.html' %}
    <header>     
    </header>
    <main class="main-content">
        <form action="" class="form">
        <h1>Iniciar sesion.</h1>
        <input type="email" placeholder="Correo Electronico" class="inputlab">
        <label for=""></label>
        <br>
        <input type="password" placeholder="Contraseña" class="inputlab">
        <label for=""></label>
        <br>
        <a href="/templates/olvidar_contraseña.html" class="href">¿Olvidaste tu contraseña?</a>
        <br>
        <a href="/templates/registrar.html" class="href">Registrate aqui!</a>
        <br>
        <button type="submit" class="button">Entrar</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>