<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/olvidarcontraseña.css">
    <title>¿Olvidaste tu contraseña?</title>
</head>
<body>
    <header>
    </header>
    <main class="main-content">
        <h1>¿Olvidaste tu contraseña?</h1>
        <p>
            Escribe tu correo electronico aqui,  <br>
            y se te enviara un correo para restablecer tu contraseña.
        </p>
        <br>
        <form action="">
            <input type="text" placeholder="Ingresa tu correo aqui!" class="inputlab">
            <img src="/static/img/descarga.png" alt="">
            <br>
            <button class="button"  >
                so
            </button>
        </form>
    </main>
    <footer>
    </footer>
</body>
</html>