<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/testVentanaModal.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
    <div class="modal-overlay">
    <div class="modal">
    <h2>Título del Modal</h2>
    <p>Este es el contenido del modal.</p>
    <button class="btn-modal">OK</button>
    </div>
    </div>
    </main>
</body>
</html>