<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/VentanaModal.css">
    <title>Ventana Modal</title>
</head>
<body>
    <header></header>
    <main>
    <div class="modal-overlay">
    <div class="modal">
    <h2 class="h2Modal">Clasificación de Personas a Cargo</h2>
    <p>Organiza y gestiona la información de tus dependientes</p>
    <hr>
    <h2 class="h2Modal">¿Que puedes hacer aqui?</h2>
    <li>
        Registra información completa de cada dependiente
    </li>
    <li>
        Clasifica por tipo de relación familiar
    </li>
    <li>
        Controla gastos mensuales por dependiente
    </li>
    <li>
        Registra ingresos de dependientes que trabajen
    </li>
    <li>
        Mantén contactos de emergencia organizados
    </li>
    <li>
        Seguimiento de estudiantes y sus gastos educativos
    </li>
    <br>
    <button class="btn-modal">Entendido!</button>
    </div>
    </div>
    </main>
</body>
</html>