<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Verificacion.css" />
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/Verificacion.css') }}">
  </head>
  <body>
    

<h1>Codigo de verificacion</h1>

    <div class="container">

        <h2>Ahorrapp</h2>

        <h3>Ingrese el codigo de verificacion que se le envio a su correo</h3>

        <form action="{{ url_for('verificacion') }}" class="form" method="post">
            <div class="form_codigo">

                <input type="number" name="codigo" placeholder="Ingrese el código" class="codigo" required>
            </div>

            <div class="form_button">
                <a class="salir" href="{{ url_for('olvidar_contraseña') }}">Regresar</a>

                <button type="submit" class="enviar">Enviar</button>
            </div>
        </form>

    </div>

  </body>
</html>
