<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Verificacion.css" />
  </head>
  <body>
    

<h1>Codigo de verificacion</h1>

    <div class="container">

        <h2>Ahorrapp</h2>

        <h3>Ingrese el codigo de verificacion que se le envio a su correo</h3>

        <form action="" class="form">

            <div class="form_codigo">

                <input type="number" placeholder="ingrese el codigo de verificacion" class="codigo" required>

            </div>

            <div class="form_button">

                <a class="salir" href="">Regresar</a>
                <button class="enviar">enviar</button>

            </div>

    </div>

  </body>
</html>
