<!DOCTYPE html>
<html lang="en">
    <title>
    Validacion-email
    </title>
<head>
    <link rel="stylesheet" href="../static/css/vista.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body >

    
    <h1 class="a">Confirmacion email</h1>
    <div class="container">
        <p>Tu correo se ha confirmado correctamente </p> <br>
         <a class="volver" href="">volver</a>
        
    </div>

    


     
</body>
</html>